/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.postagem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.postagem-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.perfil-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.usuario {
    font-weight: bold;
}

.postagem-imagem {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.postagem-info {
    padding: 10px;
}

.curtidas {
    font-weight: bold;
    margin-bottom: 5px;
}

.comentarios {
    font-size: 0.9em;
}

.comentarios p {
    margin: 0;
    display: flex;

}
.perfil-comentario{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nome-comentario {
    font-weight: bold;
    margin-right: 5px; 
}

.comentario {
    margin-left: 5px;
}
